<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>				
		<add key="mu.coin" value="100,50,1,10,5,25"/>
	  <add key="mu.bill" value="100,200,500,1000,2000,5000,10000"/>
		<add key="mu.silver" value="50000,100000"/>
		<add key="monetaryPriority" value="silver,bill,coin"/>
	</appSettings>

</configuration>